{% extends '@Core/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .tipo-prueba-btn
        {
            padding-top: 20px;
        }
        .btn-asignatura
        {
            cursor: pointer;
        }
        .nivelh1
        {
            padding: 20px 0 20px;
            font-size: 40px;
        }
    </style>
{% endblock stylesheets %}

{% block sonata_admin_content %}

    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h3 class="panel-title" id="title">Nueva Pregunta</h3>
            <p class="panel-subtitle">Sistema de creación de pruebas.</p>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div id="steps_pregunta" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
                <div class="carousel-inner">
                    <div class="item active" id="step1">
                        <h1>Tipo de Prueba</h1>
                        <div class="row">
                            {% for tp in tipo_prueba %}
                            <a tipo-prueba="{{ tp.id }}" href="#steps_pregunta" data-slide="next" class="btn-tp btn-asignatura col-md-6 no-padding {{ tp.background }} bg-primary text-center">
                                <i class="{{ tp.getImagen }} fa-5x tipo-prueba-btn"></i>
                                <h1>{{ tp }}</h1>
                            </a>
                            {% endfor %}
                        </div>


                    </div>
                    <div class="item" id="step2">
                        <h1>Tipo de Enseñanza</h1>
                        <div class="row">
                            <a id="btn-basica" href="#steps_pregunta" data-slide="next" data-opcion="basica" class="opcion btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-user-circle fa-5x tipo-prueba-btn"></i>
                                <h1>Basica</h1>
                            </a>
                            <a id="btn-media" href="#steps_pregunta" data-slide="next" data-opcion="media" class="opcion btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-male fa-5x tipo-prueba-btn"></i>
                                <h1>Media</h1>
                            </a>
                        </div>
                        <div class="modal-footer" style="">
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                        </div>
                    </div>
                    <div class="item" id="step3">
                    </div>
                    <div class="item" id="step4">
                        <h1>Asignatura</h1>
                        <div class="row">
                            {% for subsector in subsectors %}
                            <a  subsector="{{ subsector.getId }}" href="#steps_pregunta" data-slide="next" class="btn-subsector btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-prueba-btn"></i>
                                <h1>{{ subsector }}</h1>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="modal-footer" style="">
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                        </div>
                    </div>
                    <div class="item" id="step5">
                        <div class="form-group" class="col-md-3">
                            <label for="habilidad">Seleccione Habilidad</label>
                                {{ form_row(form.habilidad) }}
                        </div>
                        <div class="form-group" class="col-md-3">
                            <label for="nivel">Seleccione Eje</label>
                                {{ form_row(form.eje) }}
                        </div>
                        <div class="form-group" class="col-md-3">
                            <label for="taxonomia">Seleccione Taxonomia</label>
                                {{ form_row(form.taxonomia) }}
                        </div>
                        <div class="form-group" class="col-md-3">
                            <label for="taxonomia">Seleccione Dificultad</label>
                            {{ form_row(form.dificultad) }}
                        </div>
                        <div>
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                            <button id="siguiente" data-slide="next" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: right">Siguiente</button>
                        </div>
                    </div>
                    <div class="item" id="step6">
                        <div class="form-group" id="ckcontenido">
                            <label for="contenido">Contenido</label>
                            {{ form_row(form.contenido) }}
                        </div>
                        <div id="carga_preguntas"></div>
                        <fieldset class="form-group">
                            <label class="control-label">Seleccione el estado de la pregunta</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{ form_row(form.publicado.1) }}
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{ form_row(form.publicado.0) }}
                                </label>
                            </div>
                        </fieldset>
                        <div class="col-md-12">
                            <button id="volver" data-slide="prev" type="button" class="btn btn-primary col-md-3" href="#steps_pregunta">Volver</button>
                            {{ form_row(form.Guardar) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none">
    {{ form_end(form) }}
    </div>
{% endblock %}
{% block system_javascripts %}
{{ parent() }}

    <script>
        CKEDITOR.replace( 'pregunta_create_contenido');

        $(".opcion").click(function(){
            var a = $(this).attr('data-opcion');
            if(a == 'basica')
            {
                $("#step3").html("\
                    <h1>Nivel Ed. Basica</h1>\
                    <div class='row'>\
                    \{% for lvl in nivel.basica %}
                        <a nivel='{{ lvl.id }}' href='#steps_pregunta' data-slide='next' class='btn-nivel btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>{{ lvl }}</h1>\
                        </a>\
                    \{% endfor %}
                    </div>\
                    <div class='modal-footer'>\
                        <button data-slide='prev' type='button' class='btn btn-primary' href='#steps_pregunta' style='float: left'>Volver</button>\
                    </div>"
                );
            }
            if(a == 'media')
            {
                $("#step3").html("\
                    <h1>Nivel Ed. Media</h1>\
                    <div class='row'>\
                    \{% for lvl in nivel.media %}
                        <a nivel='{{ lvl.id }}' href='#steps_pregunta' data-slide='next' class='btn-nivel btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>{{ lvl }}</h1>\
                        </a>\
                    \{% endfor %}
                    </div>\
                    <div class='modal-footer'>\
                        <button data-slide='prev' type='button' class='btn btn-primary' href='#steps_pregunta' style='float: left'>Volver</button>\
                    </div>"
                );

            }

            $('.btn-nivel').click(function () {
                var tp = $(this).attr('nivel');
                console.log("tp: "+tp);
                $("#pregunta_create_nivel option").each(function(){
                    if ($(this).val() == tp){
                        $(this).attr("selected","selected");
                        console.log("Optionado "+tp);
                    }

                });
            });
        });





        $('.btn-tp').click(function () {
            var tp = $(this).attr('tipo-prueba');
            console.log("tp: "+tp);
            $("#pregunta_create_tipo_prueba option").each(function(){
                if ($(this).val() == tp){
                    $(this).attr("selected","selected");
                    console.log("Optionado "+tp);
                }

            });
        });

        $('.btn-subsector').click(function () {
            var tp = $(this).attr('subsector');
            console.log("tp: "+tp);
            $("#pregunta_create_subsector option").each(function(){
                if ($(this).val() == tp){
                    $(this).attr("selected","selected");
                    console.log("Optionado "+tp);
                }

            });
        });
    </script>
{% endblock system_javascripts %}