<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | CDP</title>
    {% block stylesheets %}{% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/core/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/vendor/linearicons/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/vendor/chartist/css/chartist-custom.css') }}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/core/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/css/jAlert.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/css/datetimepicker.css') }}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="icon" type="image/x-icon" sizes="50x50" href="{{ asset('bundles/core/img/favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('bundles/core/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/moments.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/locale_es.moments.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/datetimepicker.min.js') }}"></script>
<script src="{{ asset('bundles/core/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/core/vendor/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/core/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('bundles/core/vendor/chartist/js/chartist.min.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/klorofil-common.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/formatter.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/jAlert.min.js') }}"></script>
<script src="{{ asset('bundles/core/scripts/jAlert-functions.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
