{% extends "CoreBundle::core.html.twig" %}
{%  block body %}
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <img src="{{ asset('bundles/core/img/logo_nav.png') }}" alt="Aeduc" class="img-responsive logo">
        </div>
        <div class="navbar-btn">
            <button type="button"
                    class="btn-toggle-fullwidth"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Minimizar Menú">
                <i class="lnr lnr-arrow-left-circle"></i>
            </button>
        </div>

        <div class="container-fluid">
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <!-- AVISOS -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                             <span class="badge bg-danger">1</span>
                        </a>

                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>El sistema tiene una nueva actualización</a></li>

                        </ul>

                    </li>

                    <!-- USUARIO -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ asset('bundles/core/img/user.png') }}" class="img-circle" alt="Avatar"> <span>{{ user.nombre_completo }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a id ="profile" href="{{ url('profile') }}"><i class="lnr lnr-user"></i> <span>Perfil</span></a></li>
                            <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Desconectarse</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    {% for item in menu %}
                        <li>
                        {% if item.submenu == false %}
                            <a href="{{ url(item.id) }}" class="{{ item.active ? 'active' : '' }}">
                                <i class="lnr {{ item.icon }}"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        {% else %}
                            <a href="#subPages_{{ item.id }}" data-toggle="collapse" class="{{ item.active ? 'active' : 'collapsed' }}">
                                <i class="lnr {{ item.icon }}"></i>
                                <span>{{ item.name }}</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i>
                            </a>
                            <div id="subPages_{{ item.id }}" class="{{ item.active ? 'collapse in' : 'collapse' }} ">
                                <ul class="nav">
                                    {% for subitem in item.menu %}
                                        <li>
                                            <a href="{{ url(subitem.id) }}" class="{{ subitem.active ? 'active' : 'false' }}">
                                                {{ subitem.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        </li>
                    {% endfor %}


                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                {% block main %}{% endblock main %}
            </div>
        </div>
    </div>
</div>

{%  endblock body %}

{% block javascripts %}
    <script>
        $(".btn-toggle-fullwidth").tooltip();
        $("#profile").click(function (e) {
            e.preventDefault();
            alert("Click menu bar");
        })
    </script>
{% endblock javascripts %}