{% extends 'CoreBundle:Admin:layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel-profile">
                <div class="clearfix">
                    <div class="col-md-4">
                        <div class="profile-header">
                            <div class="overlay"></div>
                            <div class="profile-main">
                                <img src="{{ asset('bundles/core/img/user-medium.png') }}" class="img-circle" alt="Avatar">
                                <h3 class="name">{{ user.nombre }} {{ user.apellido }}</h3>
                                <span class="online-status status-available">Activo</span>
                            </div>
                            {% if not is_granted('ROLE_SOPORTE') %}
                            <div class="profile-stat">
                                <div class="row">
                                    <div class="col-md-6 stat-item">
                                        45 <span>PRUEBAS</span>
                                    </div>
                                    <div class="col-md-6 stat-item">
                                        15 <span>PREGUNTAS</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="panel profile-detail">
                            <div class="profile-info">
                                <h4 class="heading">Información Basica</h4>
                                <ul class="list-unstyled list-justify">
                                    <li>Ultimo ingreso <span>{{ user.lastLoginString }}</span></li>
                                    {{ user.fono ? '<li>Telefono <span>'~ user.fono ~ '</span></li>'}}
                                    <li>Correo <span>{{ user.email }}</span></li>
                                    {{ user.colegio ? '<li>Colegio <span>' ~ user.colegio.nombre ~ '</span></li>' }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel col-md-7 profile-right">
                        {% if not is_granted('ROLE_SOPORTE') %}
                            {#TODO: Agregar solo 4 asignaturas, Agregar todas en modal#}
                        <h4 class="heading">Asignaturas</h4>
                        <div class="awards">
                            <div class="row">
                                {% for asignatura in user.subsectors %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="award-item">
                                        <div class="hexagon">
                                            <span class="lnr lnr-pencil award-icon"></span>
                                        </div>
                                        <span>{{ asignatura.nombre }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div id="verAsignaturas" class="text-center"><a href="#" class="btn btn-default">Ver todas las asignaturas</a></div>
                        </div>
                        {% endif %}
                        <div class="custom-tabs-line tabs-line-bottom left-aligned">
                            <ul class="nav" role="tablist">
                                <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Actividades recientes</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-bottom-left1">
                                <ul class="list-unstyled activity-timeline">
                                    <li>
                                        <i class="fa fa-info-circle activity-icon"></i>
                                        <p>Sin Información temporalmente.</p>
                                    </li>
                                </ul>
                                <div id="verActividades" class="margin-top-30 text-center"><a href="#" disabled="true" class="btn btn-default">Ver todas las actividades</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="asignaturas-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Asignaturas</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="awards">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-pencil award-icon"></span>
                                            </div>
                                            <span>Lenguaje</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-clock award-icon"></span>
                                            </div>
                                            <span>Matematica</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-magic-wand award-icon"></span>
                                            </div>
                                            <span>Ciencias</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-magic-wand award-icon"></span>
                                            </div>
                                            <span>Ciencias</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-heart award-icon"></span>
                                            </div>
                                            <span>Historia</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-pencil award-icon"></span>
                                            </div>
                                            <span>Lenguaje</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-heart award-icon"></span>
                                            </div>
                                            <span>Historia</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="award-item">
                                            <div class="hexagon">
                                                <span class="lnr lnr-clock award-icon"></span>
                                            </div>
                                            <span>Matematica</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="actividades-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Actividades</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <ul class="list-unstyled activity-timeline">
                                        <li>
                                            <i class="fa fa-comment activity-icon"></i>
                                            <p>Agrego una prueba <a href="#">PSU-LEN-2</a> <span class="timestamp">Hace 2 minustos</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-cloud-upload activity-icon"></i>
                                            <p>Agrego una respuesta <a href="#">RESP-2</a> a la prueba <a href="#">PSU-LEN-2</a> <span class="timestamp">Hace 4 minutos</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-comment activity-icon"></i>
                                            <p>Agrego una prueba <a href="#">PSU-LEN-2</a> <span class="timestamp">Hace 2 minustos</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-cloud-upload activity-icon"></i>
                                            <p>Agrego una respuesta <a href="#">RESP-2</a> a la prueba <a href="#">PSU-LEN-2</a> <span class="timestamp">Hace 4 minutos</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block system_javascripts %}
    <script>
        $("#verAsignaturas").click(function()
        {
            $("#asignaturas-modal").modal().show();
        });
        $("#verActividades").click(function()
        {
            $("#actividades-modal").modal().show();
        });
    </script>
{% endblock system_javascripts %}