{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Preguntas {% endblock title %}
{% block stylesheets %}
    <style>
        .tipo-prueba-btn
        {
            padding-top: 20px;
        }
        .btn-asignatura
        {
            cursor: pointer;
        }
        .nivelh1
        {
            padding: 20px 0 20px;
            font-size: 40px;
        }
    </style>
{% endblock stylesheets %}
{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h3 class="panel-title" id="title">Nueva Pregunta</h3>
            <p class="panel-subtitle">Sistema de creación de pruebas.</p>
        </div>
        <div class="panel-body">
            <div id="steps_pregunta" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
                <div class="carousel-inner">
                    <div class="item active" id="step1">
                        <h1>Tipo de Prueba</h1>
                        <div class="row">
                            <a id="btn-simce" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-prueba-btn"></i>
                                <h1>SIMCE</h1>
                            </a>
                            <a id="btn-psu" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-calendar fa-5x tipo-prueba-btn"></i>
                                <h1>PSU</h1>
                            </a>
                        </div>
                        <div class="row">
                            <a id="btn-pme" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-warning no-padding bg-primary text-center">
                                <i class="fa fa-calculator fa-5x tipo-prueba-btn"></i>
                                <h1>PME</h1>
                            </a>
                            <a id="btn-otro" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-danger no-padding bg-primary text-center">
                                <i class="fa fa-braille fa-5x tipo-prueba-btn"></i>
                                <h1>OTRO</h1>
                            </a>
                        </div>
                    </div>
                    <div class="item" id="step2">
                        <h1>Tipo de Enseñanza</h1>
                        <div class="row">
                            <a id="btn-basica" href="#steps_pregunta" data-slide="next" data-opcion="basica" class="opcion btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-user-circle fa-5x tipo-prueba-btn"></i>
                                <h1>Basica</h1>
                            </a>
                            <a id="btn-media" href="#steps_pregunta" data-slide="next" data-opcion="media" class="opcion btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-male fa-5x tipo-prueba-btn"></i>
                                <h1>Media</h1>
                            </a>
                        </div>
                        <div class="modal-footer" style="">
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                        </div>
                    </div>
                    <div class="item" id="step3">
                    </div>
                    <div class="item" id="step4">
                        <h1>Asignatura</h1>
                        <div class="row">
                            <a id="btn-simce" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-prueba-btn"></i>
                                <h1>Lenguaje</h1>
                            </a>
                            <a id="btn-psu" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-calendar fa-5x tipo-prueba-btn"></i>
                                <h1>Historia</h1>
                            </a>
                        </div>
                        <div class="row">
                            <a id="btn-pme" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-warning no-padding bg-primary text-center">
                                <i class="fa fa-calculator fa-5x tipo-prueba-btn"></i>
                                <h1>Matematicas</h1>
                            </a>
                            <a id="btn-otro" href="#steps_pregunta" data-slide="next" class="btn-asignatura col-md-6 bg-danger no-padding bg-primary text-center">
                                <i class="fa fa-braille fa-5x tipo-prueba-btn"></i>
                                <h1>Ciencias</h1>
                            </a>
                        </div>
                        <div class="modal-footer" style="">
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                        </div>
                    </div>
                    <div class="item" id="step5">
                        <div class="form-group" style="display: inline-block; width: 33%">
                            <label for="nivel">Seleccione Aprendisaje</label>
                            <select class="form-control input col-md-12">
                                <option value="nivel">Aprendisaje</option>
                                <option value="primero_medio">Geometria</option>
                                <option value="segundo_medio">Numeros y operaciones</option>
                                <option value="tercero_medio">Desarrollo de destreza de lectura inicial </option>
                                <option value="cuarto_medio">Resolver problemas de sustraccion</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: inline-block; width: 33%">
                            <label for="nivel">Seleccione Eje</label>
                            <select class="form-control input col-md-12">
                                <option value="nivel">Eje</option>
                                <option value="primero_medio">Comprension lectora</option>
                                <option value="segundo_medio">Numeros y operaciones</option>
                                <option value="tercero_medio">Razonamiento Matematico </option>
                                <option value="cuarto_medio">Lectura</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: inline-block; width: 33%">
                            <label for="taxonomia">Seleccione Taxonomia</label>
                            <select class="form-control input col-md-12">
                                <option value="Taxonomia">Taxonomia</option>
                                <option value="primero_medio">Sin Información</option>
                                <option value="segundo_medio">Comprender</option>
                                <option value="tercero_medio">Conocer</option>
                                <option value="cuarto_medio">Analizar</option>
                            </select>
                        </div>
                        <div>
                            <button data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: left">Volver</button>
                            <button id="siguiente" data-slide="next" type="button" class="btn btn-primary" href="#steps_pregunta" style="float: right">Siguiente</button>
                        </div>
                    </div>
                    <div id="conCkeditor">
                        <div class="form-group">
                            <label for="contenido">Contenido</label>
                            <div style="height: auto" class="form-control" id="contenidoCkeditor" rows="4" disabled></div    >
                        </div>
                    </div>
                    <div class="item" id="step6">
                        <div class="form-group" id="ckcontenido">
                            <label for="contenido">Contenido</label>
                            <textarea class="form-control" id="Contenido" rows="4"></textarea>
                        </div>
                        <div id="carga_preguntas"></div>
                        <fieldset class="form-group">
                            <label class="control-label">Seleccione el estado de la pregunta</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Publicar pregunta (será visible para todos).
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Guardar como borrador (No se publicará).
                                </label>
                            </div>
                        </fieldset>
                        <button id="volver" data-slide="prev" type="button" class="btn btn-primary" href="#steps_pregunta">Volver</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'Contenido',{language: 'es'} );
        $(document).ready(function ()
        {
            $("#conCkeditor").hide();
            $("#carga_preguntas").hide();
            $("#siguiente").click(function()
            {
                $("#carga_preguntas").show();
                $("#carga_preguntas").html("\
                    <h4>Agregar Respuesta</h4>\
                    <div id='main'>\
                        <input type='button' id='btAdd' value='Añadir' class='btn btn-success' />\
                        <input type='button' id='btRemove' value='Eliminar' class='btn btn-warning' />\
                        <input type='button' id='btRemoveAll' value='Eliminar Todo' class='btn btn-danger' /><br><br>\
                    </div>"
                );
                $('html,body').animate
                ({
                    scrollTop: $("#top").offset().top
                }, 1000);
                var iCnt = 0;
                var container = $(document.createElement('div'));
                $('#btAdd').click(function()
                {
                    $("#conCkeditor").show();
                    var contenido = CKEDITOR.instances['Contenido'].getData();
                    $("#contenidoCkeditor").html(contenido);
                    $("#ckcontenido").hide();
                    if(iCnt <= 4)
                    {
                        iCnt = iCnt + 1;
                        var id_resp = 'tb'+iCnt;
                        $(container).append('<textarea class="form-control" id="' + id_resp + '" placeholder="Respuesta ' + iCnt + '" /><br>');
                        if(iCnt == 1)
                        {
                            var divSubmit = $(document.createElement('div'));
                            $(divSubmit).append('<input type=button class="btn btn-success" onclick="GetTextValue()"' + 'id=btSubmit value=Enviar />');
                        }
                        $('#main').after(container, divSubmit);
                    }
                    else
                    {
                        $(container).append('<label>Limite Alcanzado</label>');
                        $('#btAdd').attr('class', 'btn btn-success');
                        $('#btAdd').attr('disabled', 'disabled');
                    }
                });
                $('#btRemove').click(function()
                {
                    if(iCnt != 0)
                    {
                        $('#tb' + iCnt).remove();
                        iCnt = iCnt - 1;
                    }
                    if (iCnt == 0)
                    {
                        $(container).empty();
                        $(container).remove();
                        $('#btSubmit').remove();
                        $('#btAdd').removeAttr('disabled');
                        $('#btAdd').attr('class', 'btn btn-success')
                    }
                    else
                    {
                        $('#btAdd').removeAttr('disabled');
                    };
                });
                $('#btRemoveAll').click(function()
                {
                    $(container).empty();
                    $(container).remove();
                    $('#btSubmit').remove(); iCnt = 0;
                    $('#btAdd').removeAttr('disabled');
                    $('#btAdd').attr('class', 'btn btn-success');
                });
            });
            $("#volver").click(function()
            {
                $("#carga_preguntas").hide();
                $("#ckcontenido").show();
                $("#conCkeditor").hide();
            });
        });
        var divValue, values = '';
        /*function GetTextValue()
         {
         $(divValue).empty();
         $(divValue).remove(); values = '';
         $('.form-control').each(function()
         {
         divValue = $(document.createElement('div')).css
         ({
         padding:'5px', width:'200px'
         });
         values += this.value + '<br/>'
         });
         $(divValue).append('<p><b>Tus valores añadidos</b></p>' + values);
         $('body').append(divValue);
         };*/
        $(".opcion").click(function(){
            var a = $(this).attr('data-opcion');
            if(a == 'basica')
            {
                $("#step3").html("\
                    <h1>Nivel</h1>\
                    <div class='row'>\
                        <a id='btn-1' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>1° Basico</h1>\
                        </a>\
                        <a id='btn-2' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>2° Basico</h1>\
                        </a>\
                        <a id='btn-3' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>3° Basico</h1>\
                        </a>\
                        <a id='btn-4' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>4° Basico</h1>\
                        </a>\
                    </div><br>\
                    <div class='row'>\
                        <a id='btn-5' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>5° Basico</h1>\
                        </a>\
                        <a id='btn-6' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>6° Basico</h1>\
                        </a>\
                        <a id='btn-7' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>7° Basico</h1>\
                        </a>\
                        <a id='btn-8' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>8° Basico</h1>\
                        </a>\
                    </div>\
                    <div class='modal-footer'>\
                        <button data-slide='prev' type='button' class='btn btn-primary' href='#steps_pregunta' style='float: left'>Volver</button>\
                    </div>"
                );
            }
            if(a == 'media')
            {
                $("#step3").html("\
                    <h1>Nivel</h1>\
                    <div class='row'>\
                        <a id='btn-1' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>1° Medio</h1>\
                        </a>\
                        <a id='btn-2' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>2° Medio</h1>\
                        </a>\
                        <a id='btn-3' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>3° Medio</h1>\
                        </a>\
                        <a id='btn-4' href='#steps_pregunta' data-slide='next' class='btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center'>\
                            <h1 class='nivelh1'>4° Medio</h1>\
                        </a>\
                    </div>\
                    <div class='modal-footer'>\
                        <button data-slide='prev' type='button' class='btn btn-primary' href='#steps_pregunta' style='float: left'>Volver</button>\
                    </div>"
                );
            }
        });
    </script>
{% endblock %}