{% extends 'CoreBundle::menubars.html.twig' %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
    <style>
        #pruebas td:hover{
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
            <p class="panel-subtitle">Panel principal.</p>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Listado de ultimas pruebas creadas.</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código Prueba</th>
                                    <th>Tipo</th>
                                    <th>Nivel</th>
                                    <th>Asignatura</th>
                                    <th>Información</th>
                                </tr>
                                </thead>
                                <tbody id="pruebas">

                                <tr data-toggle="tooltip"
                                    data-placement="top"
                                    title="Click para ver prueba"><td>1</td><td>LEN-4M-PSU-1</td><td>PSU</td><td>4° Medio</td><td>Lenguaje</td><td>Prueba Demo 1</td></tr>

                                <tr data-toggle="tooltip"
                                    data-placement="top"
                                    title="Click para ver prueba"><td>2</td><td>LEN-4M-PSU-2</td><td>PSU</td><td>4° Medio</td><td>Lenguaje</td><td>Prueba Demo 2</td></tr>
                                <tr data-toggle="tooltip"
                                    data-placement="top"
                                    title="Click para ver prueba"><td>3</td><td>LEN-4M-PSU-3</td><td>PSU</td><td>4° Medio</td><td>Lenguaje</td><td>Prueba Demo 3</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="metric">
                            <a href="{{ url('nueva_pregunta') }}">
                                <span class="icon btn-success"><i class="fa fa-plus"></i></span>
                            </a>
                            <p>
                                <span class="number">1,252</span>
                                <span class="title">Preguntas</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="metric">
                            <a href="{{ url('nueva_prueba') }}">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </a>
                            <p>
                                <span class="number">36</span>
                                <span class="title">Pruebas</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-body no-padding bg-primary text-center">
                            <div class="padding-top-30 padding-bottom-30">
                                <i class="fa fa-thumbs-o-up fa-5x"></i>
                                <h3>Sin Noticias</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock main %}

{% block javascripts %}
    <script>
        $("#pruebas tr").tooltip();
    </script>
{% endblock javascripts %}