{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Nueva Prueba {% endblock title %}

    {% block stylesheets %}
        <style>
            .tipo-prueba-btn{
                padding-top: 20px;
            }
            .btn-asignatura{
                cursor: pointer;
            }
            .nivelh1{
                padding: 20px 0 20px;
                font-size: 40px;
            }
        </style>
    {% endblock %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title" id="title">Nueva Prueba</h3>
            <p class="panel-subtitle">Sistema de creación de pruebas.</p>
        </div>
        <div class="panel-body">

            <div id="steps_prueba"
                 class="carousel slide"
                 data-ride="carousel"
                 data-interval="false"
                 data-wrap="false">

                <div class="carousel-inner">
                    <div class="item active" id="step1">
                        <h1>Tipo de Prueba</h1>
                        <div class="row">
                            <a id="btn-simce" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-prueba-btn"></i>
                                <h1>SIMCE</h1>
                            </a>

                            <a id="btn-psu" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-calendar fa-5x tipo-prueba-btn"></i>
                                <h1>PSU</h1>
                            </a>
                        </div>
                        <div class="row">
                            <a id="btn-pme" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-warning no-padding bg-primary text-center">
                                <i class="fa fa-calculator fa-5x tipo-prueba-btn"></i>
                                <h1>PME</h1>
                            </a>

                            <a id="btn-otro" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-danger no-padding bg-primary text-center">
                                <i class="fa fa-braille fa-5x tipo-prueba-btn"></i>
                                <h1>OTRO</h1>
                            </a>
                        </div>

                    </div>

                    <div class="item" id="step2">
                        <h1>Tipo de Enseñanza</h1>
                        <div class="row">
                            <a id="btn-basica" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-user-circle fa-5x tipo-prueba-btn"></i>
                                <h1>Basica</h1>
                            </a>

                            <a id="btn-media" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-male fa-5x tipo-prueba-btn"></i>
                                <h1>Media</h1>
                            </a>
                        </div>
                    </div>

                    <div class="item" id="step3">
                        <h1>Nivel</h1>
                        <div class="row">
                            <a id="btn-1" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center">
                                <h1 class="nivelh1">1°</h1>
                            </a>
                            <a id="btn-2" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center">
                                <h1 class="nivelh1">2°</h1>
                            </a>
                            <a id="btn-3" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center">
                                <h1 class="nivelh1">3°</h1>
                            </a>
                            <a id="btn-4" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-3 bg-primary no-padding bg-primary text-center">
                                <h1 class="nivelh1">4°</h1>
                            </a>
                            <!-- Agregar dinamicamente si es mediante Media o Basica -->
                        </div>
                    </div>

                    <div class="item" id="step4">
                        <h1>Asignatura</h1>
                        <div class="row">
                            <a id="btn-simce" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-prueba-btn"></i>
                                <h1>Lenguaje</h1>
                            </a>

                            <a id="btn-psu" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-calendar fa-5x tipo-prueba-btn"></i>
                                <h1>Historia</h1>
                            </a>
                        </div>
                        <div class="row">
                            <a id="btn-pme" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-warning no-padding bg-primary text-center">
                                <i class="fa fa-calculator fa-5x tipo-prueba-btn"></i>
                                <h1>Matematicas</h1>
                            </a>

                            <a id="btn-otro" href="#steps_prueba" data-slide="next" class="btn-asignatura col-md-6 bg-danger no-padding bg-primary text-center">
                                <i class="fa fa-braille fa-5x tipo-prueba-btn"></i>
                                <h1>Ciencias</h1>
                            </a>
                        </div>
                    </div>
                    <div class="item" id="step5">
                        <h1>Información</h1>
                        <hr>
                        <div class="row">
                            <form action="" method="POST" id="info-prueba">
                            <div class="col-md-6">
                                <div class=" col-md-12 form-group has-success has-feedback">
                                    <label class="control-label" for="codigo">Codigo</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo" aria-describedby="Codigo" disabled>
                                </div>
                                <div class=" col-md-12 form-group has-success has-feedback">
                                    <label class="control-label" for="tipo">Tipo de prueba</label>
                                    <input type="text" class="form-control" id="tipo" name="tipo" aria-describedby="Codigo" disabled>
                                </div>
                                <div class=" col-md-12 form-group has-success has-feedback">
                                    <label class="control-label" for="asignatura">Asignatura</label>
                                    <input type="text" class="form-control" id="asignatura" name="asignatura" aria-describedby="Codigo" disabled>
                                </div>
                                <div class=" col-md-12 form-group has-success has-feedback">
                                    <label class="control-label" for="curso">Nivel</label>
                                    <input type="text" class="form-control" id="curso" name="curso" aria-describedby="Codigo" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <span>Información opcional de la prueba.</span>
                                    <textarea id="info" class="col-md-12">
                                    </textarea>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="btn-group btn-group-lg " role="group">
                                        <button type="button" class="btn btn-danger">Cancelar</button>
                                        <button type="button" class="btn btn-default">Guardar Borrador</button>
                                        <button type="button" id="create" class="btn btn-success">Crear</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock main %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'info',{language: 'es'} );
    </script>

    <script>
        var tipo;
        var ensenanza;
        var nivel;
        var asignatura;
        var codigo;

        $("#step1 a").click(function () {
            tipo = $(this).find('h1').html();
            $("#title").append(" tipo "+tipo);
        });

        $("#step2 a").click(function () {
            ensenanza = $(this).find('h1').html();
        });

        $("#step3 a").click(function () {
            nivel = $(this).find('h1').html();
            $("#title").append(" para "+nivel+" de Enseñanza "+ensenanza);
        });

        $("#step4 a").click(function () {
            asignatura = $(this).find('h1').html();
            console.log(asignatura+" "+tipo+" "+nivel+" "+ensenanza);
            $("#title").append(", Asignatura: "+asignatura);
            $("#asignatura").val(asignatura);
            $("#curso").val(nivel+", Enseñanza "+ensenanza);
            $("#tipo").val(tipo);
            $("#codigo").val(asignatura.substring(0,3).toUpperCase()+"-"+nivel.substring(0,1)+ensenanza.substring(0,1)+"-"+tipo+"-1");
        });

        $("#create").click(function () {
            var path = "{{ path('prueba_nueva_fila', {'codigo':'P'}) }}"+$("#codigo").val();
            $("#info-prueba").attr('action',path);
            $("#info-prueba").submit();
        });
    </script>
{% endblock javascripts %}