{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Banco de Preguntas {% endblock title %}
{% block stylesheets %}
    <style>
        #preguntas td:hover
        {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}
{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h4 class="panel-title">Preguntas Creadas</h4>
            <p class="panel-subtitle">Puedes utilizar el panel de filtros para ayudar en tu busqueda.</p>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtros" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-search"></span> Ver Filtros
            </button>
            <hr>
            <div class="collapse" id="filtros">
                <div class="row">
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Codigo</label>
                        <input type="text" placeholder="Codigo Pregunta">
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Tipo Prueba</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>PSU</option>
                            <option>PME</option>
                            <option>SIMCE</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Nivel</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>1° Básico</option>
                            <option>2° Básico</option>
                            <option>3° Básico</option>
                            <option>4° Básico</option>
                            <option>5° Básico</option>
                            <option>6° Básico</option>
                            <option>7° Básico</option>
                            <option>8° Básico</option>
                            <option>1° Medio</option>
                            <option>2° Medio</option>
                            <option>3° Medio</option>
                            <option>4° Medio</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Asignatura</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Lenguaje</option>
                            <option>Matematicas</option>
                            <option>Historia</option>
                            <option>Ciencias</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Eje</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Eje 1</option>
                            <option>Eje 2</option>
                        </select>
                    </div>
                    <div class=" col-md-6 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Habilidad</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Habilidad 1</option>
                            <option>Habilidad 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de preguntas: (Sin Filtro)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Código pregunta</th>
                            <th>Prueba</th>
                            <th>Contenido</th>
                        </tr>
                        </thead>
                        <tbody id="preguntas">
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPregunta">
                            <td>1</td>
                            <td id="codPregunta">LEN-4M-PSU-1-P1</td>
                            <td id="codPrueba">LEN-4M-PSU-1</td>
                            <td id="codContenido">La finalidad de una noticia es...</td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPregunta">
                            <td>2</td>
                            <td id="codPregunta">LEN-4M-PSU-1-P2</td>
                            <td id="codPrueba">LEN-4M-PSU-2</td>
                            <td id="codContenido">La caseta en donde se sento el...</td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPregunta">
                            <td>3</td>
                            <td id="codPregunta">LEN-4M-PSU-1-P3</td>
                            <td id="codPrueba">LEN-4M-PSU-3</td>
                            <td id="codContenido">El aguila le quito al campesino...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pregunta-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="title-pregunta-modal"></h2><br>
                    <div class="row col-md-12">
                        <span title="Eje" style='color: white; text-transform: uppercase; font-size: 80%' class="label label-default col-md-2">Eje</span>
                        <span title="Habilidad" style='color: white; text-transform: uppercase; font-size: 80%; margin-left: 1%' class="label label-success col-md-2">Habilidad </span>
                        <span title="Aprendizaje" style='color: white; text-transform: uppercase; font-size: 80%; margin-left: 1%' class="label label-primary col-md-2">Aprendizaje </span>
                        <span title="Dificultad" style='color: white; text-transform: uppercase; font-size: 80%; margin-left: 1%' class="label label-danger col-md-2">Dificultad</span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='input-group' style='width: 100%'>
                                <span class='label label-success col-md-12' style='color: white; width: 100%; text-transform: uppercase; font-size: 120%'>Aqui va el estado</span>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Codigo de Prueba</span>
                                <input type='text' class='form-control' id='idPrueba' name='idPrueba' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Contenido</span>
                                <textarea type='text' class='form-control' id='idContenido' name='idContenido' value='' required disabled></textarea>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Respuestas</span>
                                <div style="background-color: #eaeaea" class="col-md-12">
                                    <div style="margin-top: 2%">
                                        <label class="fancy-radio">
                                            <input name="gender" value="female" type="radio" disabled checked="checked">
                                            <span><i></i>a) Verdadero</span>
                                        </label>
                                        <label class="fancy-radio">
                                            <input name="gender" value="female" type="radio" disabled>
                                            <span><i></i>b) Falso</span>
                                        </label>
                                        <label class="fancy-radio">
                                            <input name="gender" value="female" type="radio" disabled>
                                            <span><i></i>c) Ninguna</span>
                                        </label>
                                        <label class="fancy-radio">
                                            <input name="gender" value="female" type="radio" disabled >
                                            <span><i></i>d) Otra</span>
                                        </label>
                                    </div>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-warning" href="{{ url('nueva_pregunta') }}">Modificar Pregunta</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal" >Cambiar estado</button>
                    <button id="confirm" type="button" class="btn btn-danger" data-dismiss="modal" >Eliminar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
    <script>
        $("#preguntas tr").tooltip();
        $("#preguntas #verPregunta").click(function()
        {
            var codPregunta = $(this).find('#codPregunta').html();
            var codPrueba = $(this).find('#codPrueba').html();
            var codContenido = $(this).find('#codContenido').html();
            $("#title-pregunta-modal").html("Codigo de la pregunta: "+codPregunta);
            $("#idPrueba").val(codPrueba);
            $("#idContenido").val(codContenido);
            $("#pregunta-modal").modal().show();
        });

        $("#confirm").click(function()
        {
            confirm("¿Desea continuar?");
        });
    </script>
{% endblock javascripts %}