{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Nueva Fila {% endblock title %}

{% block stylesheets %}
    <style>
        body.dragging, body.dragging * {
        cursor: move !important;
        }

        .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
        }

        ol.preguntas li.placeholder{
        position: relative;
        }
        ol.preguntas li.placeholder:before {
        position: absolute;
        }
        ol.preguntas li{
            cursor: pointer;
        }
        .clickeable{
            cursor: pointer;
        }
        .clickeable:hover{
            opacity: 0.3;
        }
        .hide-filter{
            display: none;
        }
    </style>
{% endblock stylesheets %}
{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Prueba: {{ codigo }}</h3>
            <p class="panel-subtitle">Sistema de creación de Filas y asignación de preguntas.</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Preguntas agregadas</h3>
                        </div>
                        <ol class="panel-body preguntas" id="contenedor-preguntas">

                        </ol>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Buscar Preguntas</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <span> Fuente de datos</span>
                                <select class="form-control input col-md-12" id="fuente-datos">
                                    <option value="banco">Banco de preguntas</option>
                                    <option value="{{ codigo }}" selected>{{ codigo }}</option>
                                </select>
                            </div>
                            <hr>
                            <div class="row hide-filter" id="filtros">
                                <div class=" col-md-12 form-group has-defaulr has-feedback">
                                    <label class="control-label" for="eje">Filtro por Habilidad</label>
                                    <select class="form-control">
                                        <option>Habilidad 1</option>
                                        <option>Habilidad 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                    <tr><th>Codigo</th><th>Texto</th><th>Estado</th><th>Acciones</th></tr>
                                    </thead>
                                    <tbody id="preguntas_prev">
                                    <tr>
                                        <td id="cod-preg">{{ codigo }}-P1</td>
                                        <td>Lorem ipsum dolor sit...</td>
                                        <td>Borrador</td>
                                        <td>
                                            <a class="label label-success clickeable"
                                                  id="asignar-pregunta"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Agregar a la prueba"
                                                  cod-preg="{{ codigo }}-P1">
                                                <span class="fa fa-plus"></span>
                                            </a>
                                            <a class="label label-warning clickeable"
                                                  data-toggle="tooltip"
                                                  id="ver-pregunta"
                                                  data-placement="top"
                                                  title="Ver pregunta"
                                                  cod-preg="{{ codigo }}-P1">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="cod-preg">{{ codigo }}-P2</td>
                                        <td>Lorem ipsum dolor sit2...</td>
                                        <td>Guardada</td>
                                        <td>
                                            <a class="label label-success clickeable"
                                                  id="asignar-pregunta"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Agregar a la prueba"
                                                  cod-preg="{{ codigo }}-P2">
                                                <span class="fa fa-plus"></span>
                                            </a>
                                            <a class="label label-warning clickeable"
                                                  data-toggle="tooltip"
                                                  id="ver-pregunta"
                                                  data-placement="top"
                                                  title="Ver pregunta"
                                                  cod-preg="{{ codigo }}-P2">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="cod-preg">{{ codigo }}-P3</td>
                                        <td>Lorem ipsum dolor sit3...</td>
                                        <td>Guardada</td>
                                        <td>
                                            <a class="label label-success clickeable"
                                                  id="asignar-pregunta"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Agregar a la prueba"
                                                  cod-preg="{{ codigo }}-P3">
                                                <span class="fa fa-plus"></span>
                                            </a>
                                            <a class="label label-warning clickeable"
                                                  id="ver-pregunta"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="Ver pregunta"
                                                  cod-preg="{{ codigo }}-P3">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-warning col-md-3 col-md-offset-6">
                    Previsualizar
                </button>
                <button class="btn btn-success col-md-3">
                    Guardar
                </button>
            </div>
        </div>

    </div>


    <div class="modal fade" id="pregunta-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="title-pregunta-modal"></h2>
                    <div class="row col-md-12">
                        <h3>Información</h3>
                        <span class="label label-default col-md-2">Eje </span>
                        <span class="label label-success col-md-2">Habilidad </span>
                        <span class="label label-primary col-md-2">Aprendizaje </span>
                        <span class="label label-danger col-md-2">Dificultad</span>

                    </div>
                </div>
                <div class="modal-body">
                    <div class="row col-md-12">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean tristique enim at ante eleifend sollicitudin.
                        Curabitur ut velit faucibus, placerat libero nec,
                        tincidunt dui. Maecenas tincidunt sapien lorem,
                        ut pulvinar velit suscipit ut. Fusce ut suscipit justo.
                        Quisque volutpat tellus ut sapien
                        sodales pulvinar. Nunc quis feugiat erat, a accumsan.
                        </p>
                        <hr>
                    </div>
                    <div class="row col-md-12">
                        <label class="fancy-radio">
                            <input name="gender" value="female" type="radio" disabled checked="checked" >
                            <span><i></i>a) True</span>
                        </label>
                        <label class="fancy-radio">
                            <input name="gender" value="female" type="radio" disabled>
                            <span><i></i>b) False</span>
                        </label>
                        <label class="fancy-radio">
                            <input name="gender" value="female" type="radio" disabled>
                            <span><i></i>c) None</span>
                        </label>
                        <label class="fancy-radio">
                            <input name="gender" value="female" type="radio" disabled >
                            <span><i></i>d) Others</span>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="" type="button" class="btn btn-warning">Editar</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/sortable.js') }}"></script>
    <script>
        $(".clickeable").tooltip();

        $("#preguntas_prev #ver-pregunta").click(function () {
            var codigo_p = $(this).attr('cod-preg');
            $("#title-pregunta-modal").html("Pregunta: "+codigo_p);
            $("#pregunta-modal").modal().show();
        });

        $("#preguntas_prev #asignar-pregunta").click(function () {
            var codigo_p = $(this).attr('cod-preg');
            $("#contenedor-preguntas").append('' +
                '<li>' +
                '   <p>'+codigo_p+'</p>' +
                '</li>');
        });


        $("ol.preguntas").sortable({
            group: 'preguntas',
            pullPlaceholder: false,
            onDrop: function  ($item, container, _super) {
                var $clonedItem = $('</li>').css({height: 0});
                $item.before($clonedItem);
                $clonedItem.animate({'height': $item.height()});

                $item.animate($clonedItem.position(), function  () {
                    $clonedItem.detach();
                    _super($item, container);
                });
            },

            // set $item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                    pointer = container.rootGroup.pointer;

                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                };

                _super($item, container);
            },
            onDrag: function ($item, position) {
                $item.css({
                    left: position.left - adjustment.left,
                    top: position.top - adjustment.top
                });
            }
        });

        $("#fuente-datos").change(function () {
            var val_fuente = $(this).val();

            if(val_fuente == "banco" && $("#filtros").hasClass('hide-filter')){
                $("#filtros").removeClass('hide-filter');
            }else{
                $("#filtros").addClass('hide-filter');
            }
        })

    </script>


{% endblock javascripts %}