{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Mis Pruebas {% endblock title %}
{% block stylesheets %}
    <style>
        #pruebas td:hover
        {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}
{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Mis pruebas creadas</h3>
            <p class="panel-subtitle">Puedes utilizar el panel de filtros para ayudar en tu busqueda.</p>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtros" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-search"></span> Ver Filtros
            </button>
            <hr>
            <div class="collapse" id="filtros">
                <div class="row">
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Codigo</label>
                        <input type="text" placeholder="Codigo Prueba">
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Tipo</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>PSU</option>
                            <option>PME</option>
                            <option>SIMCE</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Nivel</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>1° Básico</option>
                            <option>2° Básico</option>
                            <option>3° Básico</option>
                            <option>4° Básico</option>
                            <option>5° Básico</option>
                            <option>6° Básico</option>
                            <option>7° Básico</option>
                            <option>8° Básico</option>
                            <option>1° Medio</option>
                            <option>2° Medio</option>
                            <option>3° Medio</option>
                            <option>4° Medio</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Asignatura</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Lenguaje</option>
                            <option>Matematicas</option>
                            <option>Historia</option>
                            <option>Ciencias</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Listado de pruebas: (Sin Filtro)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Código Prueba</th>
                            <th>Tipo</th>
                            <th>Nivel</th>
                            <th>Asignatura</th>
                            <th>Información</th>
                        </tr>
                        </thead>
                        <tbody id="pruebas">
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPrueba">
                            <td>1</td>
                            <td id="codPrueba">LEN-4M-PSU-1</td>
                            <td id="codTipo">PSU</td>
                            <td id="codNivel">1° Medio</td>
                            <td id="codAsig">Lenguaje</td>
                            <td id="codInfo">Prueba Demo 1</td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPrueba">
                            <td>2</td>
                            <td id="codPrueba">LEN-4M-PSU-2</td>
                            <td id="codTipo">Mideteed</td>
                            <td id="codNivel">2° Medio</td>
                            <td id="codAsig">Matematica</td>
                            <td id="codInfo">Prueba Demo 2</td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="top" title="Click para ver prueba" id="verPrueba">
                            <td>3</td>
                            <td id="codPrueba">LEN-4M-PSU-3</td>
                            <td id="codTipo">Admideteed</td>
                            <td id="codNivel">3° Medio</td>
                            <td id="codAsig">Historia</td>
                            <td id="codInfo">Prueba Demo 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="prueba-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="title-prueba-modal"></h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='input-group' style='width: 100%'>
                                <span class='label label-success col-md-12' style='color: white; width: 100%; text-transform: uppercase; font-size: 120%'>Aqui va el estado</span>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Tipo de prueba</span>
                                <input type='text' class='form-control' id='idTipo' name='idTipo' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Nivel</span>
                                <input type='text' class='form-control' id='idNivel' name='idNivel' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Asignatura</span>
                                <input type='text' class='form-control' id='idAsig' name='idAsig' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Información</span>
                                <input type='text' class='form-control' id='idInfo' name='idInfo' value='' required disabled>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-warning" href="{{ url('nueva_prueba')}}">Modificar Prueba</a>
                    <button type="button" class="btn btn-success" href="#" data-dismiss="modal" >Ver PDF</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
    <script>
        $("#pruebas tr").tooltip();
        $("#pruebas #verPrueba").click(function()
        {
            var codPrueba = $(this).find('#codPrueba').html();
            var codTipo = $(this).find('#codTipo').html();
            var codNivel = $(this).find('#codNivel').html();
            var codAsig = $(this).find('#codAsig').html();
            var codInfo = $(this).find('#codInfo').html();
            $("#title-prueba-modal").html("Codigo de la prueba: "+codPrueba);
            $("#idTipo").val(codTipo);
            $("#idNivel").val(codNivel);
            $("#idAsig").val(codAsig);
            $("#idInfo").val(codInfo);
            $("#prueba-modal").modal().show();
        });
    </script>
{% endblock javascripts %}