{% extends 'CoreBundle::menubars.html.twig' %}

{% block title %} Crear Usuarios {% endblock title %}

{% block stylesheets %}
    <style>
        .tipo-btn{
            padding-top: 20px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h4 class="panel-title">
                <i class="glyphicon glyphicon-plus"></i>
                 Crear Usuario CDP
            </h4>
            <p class="panel-subtitle"></p>
        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-body">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div id="filtro-collapse" class="row panel-collapse collapse in" role="tabpanel">

                        <a id="btn-profesores"
                           href="#usuarios-collapse"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           class="col-md-6 bg-primary no-padding bg-primary text-center">
                            <i class="fa fa-address-book fa-5x tipo-btn"></i>
                            <h1>PROFESOR</h1>
                        </a>

                        <a id="btn-soporte"
                           href="#usuarios-collapse"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           class="col-md-6 bg-success no-padding bg-primary text-center">
                            <i class="fa fa-address-book-o fa-5x tipo-btn"></i>
                            <h1>SOPORTE</h1>
                        </a>

                    </div>
                </div>
                <div class="row">
                    <div id="usuarios-collapse" class="panel-collapse collapse" role="tabpanel">
                        <div class="col-md-6">
                            {{ form_start(form) }}
                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Rut"
                                     id="tooltip_username">
                                    <label for="name" class="cols-sm-2 control-label">Rut</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_username" class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            {{ form_row(form.username, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': 'Ingrese Rut'
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Email"
                                     id="tooltip_email">
                                    <label for="email" class="cols-sm-2 control-label">Correo Electronico</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_email" class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i><div id="alert_email"></div></span>
                                            {{ form_row(form.email, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': 'Ingrese el correo electrónico'
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Nombre">
                                    <label for="nombre" class="cols-sm-2 control-label">Nombre</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_nombre" class="input-group-addon"><i class="fa fa-drivers-license-o fa" aria-hidden="true"></i><div id="alert_nombre"></div> </span>
                                            {{ form_row(form.nombre, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': 'Ingrese Nombre'
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Apellido">
                                    <label for="apellido" class="cols-sm-2 control-label">Apellido</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_apellido" class="input-group-addon"><i class="fa fa-drivers-license-o fa" aria-hidden="true"></i><div id="alert_apellido"></div> </span>
                                            {{ form_row(form.apellido, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': 'Ingrese Apellido'
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Contraseña Autogenerada. 5 Primeros digitos del RUT">
                                    <label for="confirm" class="cols-sm-2 control-label">Contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_contraseña" class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                           {{ form_row(form.plainPassword.first, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': '5 Primeros digitos del RUT',
                                                }}) }}

                                    </div>
                                </div>
                                </div>

                                <div class="form-group"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="Contraseña Autogenerada. 5 Primeros digitos del RUT">
                                    <label for="confirm" class="cols-sm-2 control-label">Repita Contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span id="span_contraseña" class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                           {{ form_row(form.plainPassword.second, {
                                                'label':false,
                                                'attr':{
                                                    'class':'form-control',
                                                    'placeholder': 'Repita Contraseña',
                                                }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Crear Usuario</button>
                                </div>


                            {{ form_end(form) }}

                        </div>
                        <div class="row col-md-12">
                            <a href="#filtro-collapse" data-toggle="collapse" data-parent="#acordion" id="go-filtros-1" class="btn btn-success col-md-3 col-md-offset-9"> Volver </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".form-group").tooltip();
        $("#go-filtros-1, #go-filtros-2").click(function () {
            $(this).parent().parent().removeClass('in');
        });
        $("#btn-profesores").click(function () {
            $("#fos_user_registration_form_rol").val("ROLE_PROFESOR");
        });
        $("#btn-soporte").click(function () {
            $("#fos_user_registration_form_rol").val("ROLE_SOPORTE");
        });

        $('form').submit(function(e) {
            e.preventDefault();
            var url = "{{ path('crear_usuario') }}";
            var formSerialize = $(this).serialize();
            console.log(formSerialize);
            $.post(url, formSerialize, function(response) {
                if(!response.status){
                    console.log(response.error);
                     if(typeof response.error.username !== 'undefined'){
                         $("#span_username").addClass('alert-danger');
                         $("#tooltip_username").attr('data-original-title',response.error.username[0]);
                     }
                    if(typeof response.error.email !== 'undefined'){
                        $("#span_email").addClass('alert-danger');
                        $("#tooltip_email").attr('data-original-title',response.error.email[0]);
                    }
                }else{
                    $(".input-group-addon input").attr('disabled','true');
                    $.jAlert({ //this is the normal usage
                        'title': 'Creación de Usuario',
                        'content': response.msg,
                        'theme': 'green',
                        'size': 'xsm',
                        'onClose': function (alert) {
                            window.location='{{ url('crear_usuario') }}';
                        }
                    });
                }
            }, 'JSON');
        });
        $('#fos_user_registration_form_username').rut({
            formatOn: 'keyup',
            minimumLength: 8,
            ignoreControlKeys: false
        }).on('rutInvalido',function (e) {
            $("#span_username").addClass('alert-danger');
        }).on('rutValido',function (e) {
            $("#span_username").removeClass('alert-danger');
            $("#span_username").addClass('alert-success');
            var rut = $.formatRut($(this).val(),false);
            $("#fos_user_registration_form_plainPassword_first").val(rut.substr(0,5)).parent('div').attr('hidden','true');
            $("#fos_user_registration_form_plainPassword_second").val(rut.substr(0,5)).parent('div').attr('hidden','true');

        });

    </script>
{% endblock %}