{% extends 'CoreBundle::menubars.html.twig' %}

{% block title %} Crear Comunicado {% endblock title %}

{% block stylesheets %}
    <style>
        .tipo-btn{
            padding-top: 20px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h4 class="panel-title">
                <i class="fa fa-envelope-open"></i>
                Crear Comunicado
            </h4>
            <p class="panel-subtitle"></p>
        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-body">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div id="filtro-collapse" class="row panel-collapse collapse in" role="tabpanel">

                        <a id="btn-profesores"
                           href="#usuarios-collapse"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           class="col-md-4 bg-primary no-padding bg-primary text-center">
                            <i class="fa fa-address-book fa-5x tipo-btn"></i>
                            <h1>PROFESORES</h1>
                        </a>

                        <a id="btn-soporte"
                           href="#usuarios-collapse"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           class="col-md-4 bg-success no-padding bg-primary text-center">
                            <i class="fa fa-address-book-o fa-5x tipo-btn"></i>
                            <h1>SOPORTE</h1>
                        </a>

                        <a id="btn-todos"
                           href="#usuarios-collapse"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           class="col-md-4 bg-warning no-padding bg-primary text-center">
                            <i class="fa fa-users fa-5x tipo-btn"></i>
                            <h1>TODOS</h1>
                        </a>

                    </div>
                </div>
                {{ form_start(form) }}

                <div class="row">
                    <div id="usuarios-collapse" class="panel-collapse collapse" role="tabpanel">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12"> <h4> Ingrese Comunicado </h4> </div>
                                <div class="col-md-12">{{ form_row(form.message, {label:false}) }}</div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6"><h4>Ingrese fecha de envío</h4></div>
                                <div class="form-group col-md-6">
                                    <div class='input-group date' id='datetimepicker1'>
                                        {{ form_row(form.sendOn, {label:false, attr:{class:'form-control'}}) }}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <a href="#filtro-collapse" data-toggle="collapse" data-parent="#acordion" id="go-filtros-1" class="btn btn-warning col-md-3 col-md-offset-6"> Volver </a>
                            {{ form_row(form.submit, {attr:{class:'btn btn-success col-md-3'}, label:'Enviar'}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'corebundle_comunicados_message',{language: 'es'} );

        $("#go-filtros-1, #go-filtros-2").click(function () {
            $(this).parent().parent().removeClass('in');
        });

/*        $('form').on('submit',function (e) {
            e.preventDefault();
            console.log($(this).serialize());
        })*/

        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
        });

    </script>
{% endblock %}