{% extends 'CoreBundle::menubars.html.twig' %}

{% block title %} Usuarios {% endblock title %}

{% block stylesheets %}
    <style>
        .tipo-btn{
            padding-top: 20px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h4 class="panel-title">
                <i class="glyphicon glyphicon-user"></i>
                Usuarios CDP
            </h4>
            <p class="panel-subtitle"></p>
        </div>
    </div>

    <div class="panel panel-headline">
        <h1>Comunicados list</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Users</th>
                <th>Sendon</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comunicado in comunicados %}
                <tr>
                    <td><a href="{{ path('super-admin_comunicados_show', { 'id': comunicado.id }) }}">{{ comunicado.id }}</a></td>
                    <td>{{ comunicado.message }}</td>
                    <td>{% if comunicado.users %}{{ comunicado.users|join(', ') }}{% endif %}</td>
                    <td>{% if comunicado.sendOn %}{{ comunicado.sendOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('super-admin_comunicados_show', { 'id': comunicado.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('super-admin_comunicados_edit', { 'id': comunicado.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('crear_comunicados') }}">Create a new comunicado</a>
            </li>
        </ul>
    </div>



{% endblock main %}

{% block javascripts %}
    <script>
        $("#go-filtros-1, #go-filtros-2").click(function () {
            $(this).parent().parent().removeClass('in');
        })
    </script>
{% endblock %}