{% extends 'CoreBundle::menubars.html.twig' %}

{% block title %} Usuarios {% endblock title %}

{% block stylesheets %}
    <style>
        .tipo-btn{
            padding-top: 20px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="panel panel-headline">
        <div class="panel-heading" id="top">
            <h4 class="panel-title">
                <i class="glyphicon glyphicon-user"></i>
                Usuarios CDP
            </h4>
            <p class="panel-subtitle"></p>
        </div>
    </div>

    <div class="panel panel-headline">
        <div class="panel-body">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div id="filtro-collapse" class="row panel-collapse collapse in" role="tabpanel">

                            <a id="btn-profesores"
                               href="#profesor-collapse"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               class="col-md-6 bg-primary no-padding bg-primary text-center">
                                <i class="fa fa-address-book fa-5x tipo-btn"></i>
                                <h1>PROFESOR</h1>
                            </a>

                            <a id="btn-soporte"
                               href="#soporte-collapse"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               class="col-md-6 bg-success no-padding bg-primary text-center">
                                <i class="fa fa-address-book-o fa-5x tipo-btn"></i>
                                <h1>SOPORTE</h1>
                            </a>

                    </div>
                </div>
                <div class="row">
                    <div id="profesor-collapse" class="panel-collapse collapse" role="tabpanel">
                        <div class="row col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Activo</th>
                                    <th>Email</th>
                                    <th>Colegio</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody id="filasprofesor">
                                    {% for profesor in tabla.profesores %}
                                        <tr>
                                            <td>{{ profesor.id }}</td>
                                            <td>{{ profesor.nombre }}</td>
                                            {% if profesor.activo == true %}
                                                <td><span class="label label-success">Activo</span></td>
                                            {% else %}
                                                <td><span class="label label-default">Desactivado</span></td>
                                            {% endif %}
                                            <td>{{ profesor.email }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row col-md-12">
                            <a href="#filtro-collapse" data-toggle="collapse" data-parent="#acordion" id="go-filtros-1" class="btn btn-success col-md-3 col-md-offset-6"> Volver </a>
                            <a href="{{ url('crear_usuario') }}" class="btn btn-primary col-md-3">Crear Nuevo</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="soporte-collapse" class="panel-collapse collapse" role="tabpanel">
                        <div class="row col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Activo</th>
                                    <th>Email</th>
                                    <th>Colegio</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody id="pruebas">
                                {% for soporte in tabla.soportes %}
                                    <tr>
                                        <td>{{ soporte.id }}</td>
                                        <td>{{ soporte.nombre }}</td>
                                        {% if soporte.activo == true %}
                                            <td><span class="label label-success">Activo</span></td>
                                        {% else %}
                                            <td><span class="label label-default">Desactivado</span></td>
                                        {% endif %}
                                        <td>{{ soporte.email }}</td>
                                        <td>Sin Colegios...</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row col-md-12">
                            <a href="#filtro-collapse" data-toggle="collapse" data-parent="#acordion" id="go-filtros-2" class="btn btn-success col-md-3 col-md-offset-6"> Volver </a>
                            <a href="{{ url('crear_usuario') }}" class="btn btn-primary col-md-3">Crear Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock main %}

{% block javascripts %}
    <script>
        $("#go-filtros-1, #go-filtros-2").click(function () {
            $(this).parent().parent().removeClass('in');
        })
    </script>
{% endblock %}