{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comunicados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Users</th>
                <th>Sendon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comunicado in comunicados %}
            <tr>
                <td><a href="{{ path('super-admin_comunicados_show', { 'id': comunicado.id }) }}">{{ comunicado.id }}</a></td>
                <td>{{ comunicado.message }}</td>
                <td>{% if comunicado.users %}{{ comunicado.users|join(', ') }}{% endif %}</td>
                <td>{% if comunicado.sendOn %}{{ comunicado.sendOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('super-admin_comunicados_show', { 'id': comunicado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('super-admin_comunicados_edit', { 'id': comunicado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('super-admin_comunicados_new') }}">Create a new comunicado</a>
        </li>
    </ul>
{% endblock %}
