{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comunicado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comunicado.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ comunicado.message }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>{% if comunicado.users %}{{ comunicado.users|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sendon</th>
                <td>{% if comunicado.sendOn %}{{ comunicado.sendOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('super-admin_comunicados_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('super-admin_comunicados_edit', { 'id': comunicado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
