{% extends "CoreBundle::core.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %} Ingreso al sistema.{% endblock %}
{%  block body %}
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box" style="margin-top: 5%">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center bg-login-logo"><img src="{{ asset('bundles/core/img/logo_nav.svg') }}" alt="Aeduc"></div>
                                <p class="lead">Conectate a tu cuenta.</p>
                            </div>
                            <form class="form-auth-small" action="{{ path("fos_user_security_check") }}" method="post">
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}
                                <div class="form-group">
                                    <label for="username" class="control-label sr-only">Email</label>
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label sr-only">Password</label>
                                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password">
                                </div>

                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <i class="fa fa-times-circle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">ENTRAR</button>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                            <h1 class="heading">Creador de Pruebas</h1>
                            <p>Araucania Educativa AEDUC</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}