{% extends '@Core/menubars.html.twig' %}
{% block title %} Nueva asignacion {% endblock title %}
{% block main %}
<div class="panel panel-headline">
<div class="panel-heading">
<h3 class="panel-title">Nueva asignacion</h3>
<p class="panel-subtitle">Puedes utilizar el panel de filtros para ayudar en tu busqueda.</p>
</div>
<div class="panel-body">
<div class="form-group" style="display: inline-block; width: 33%">
<label for="tipoPrueba">Tipo de prueba</label>
<select class="form-control">
<option>Seleccione</option>
<option>PSU</option>
<option>PME</option>
<option>SIMCE</option>
<option>OTRO</option>
</select>
</div>
<div class="form-group" style="display: inline-block; width: 33%">
<label for="colegio">Colegio</label>
<select class="form-control">
<option>Seleccione</option>
<option>Colegio 1</option>
<option>Colegio 2</option>
<option>Colegio 3</option>
<option>Colegio 4</option>
<option>Colegio 5</option>
</select>
</div>
<div class="form-group" style="display: inline-block; width: 33%">
<label for="curso">Curso</label>
<select class="form-control">
<option>Seleccione</option>
<option>1° Básico</option>
<option>2° Básico</option>
<option>3° Básico</option>
<option>4° Básico</option>
<option>5° Básico</option>
<option>6° Básico</option>
<option>7° Básico</option>
<option>8° Básico</option>
<option>1° Medio</option>
<option>2° Medio</option>
<option>3° Medio</option>
<option>4° Medio</option>
</select>
</div>
<div>
<a href="{{url('ver_asignaciones')}}" type="button" class="btn btn-primary" style="float: left">Volver</a>
<button type="button" class="btn btn-primary" style="float: right">Crear</button>
</div>
</div>
</div>
{% endblock main %}
{% block javascripts %}
<script>
 $("#asignaciones tr").tooltip();
</script>
  {% endblock javascripts %}