{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Asignaciones {% endblock title %}
{% block stylesheets %}
    <style>
        #asignaciones td:hover
        {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}
{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Asignaciones</h3>
            <p class="panel-subtitle">Puedes utilizar el panel de filtros para ayudar en tu busqueda.</p>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtros" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-search"></span> Ver Filtros
            </button>
            <hr>
            <div class="collapse" id="filtros">
                <div class="row">
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Colegio</label>
                        <input type="text" placeholder=" Codigo colegio">
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Profesor</label>
                        <input type="text" placeholder=" Profesor">
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Asignatura</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Lenguaje</option>
                            <option>Matematicas</option>
                            <option>Historia</option>
                            <option>Ciencias</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Tipo Prueba</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>PSU</option>
                            <option>PME</option>
                            <option>SIMCE</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Nivel</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>1° Básico</option>
                            <option>2° Básico</option>
                            <option>3° Básico</option>
                            <option>4° Básico</option>
                            <option>5° Básico</option>
                            <option>6° Básico</option>
                            <option>7° Básico</option>
                            <option>8° Básico</option>
                            <option>1° Medio</option>
                            <option>2° Medio</option>
                            <option>3° Medio</option>
                            <option>4° Medio</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Listado de asignaciones: (Sin Filtro)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Colegio</th>
                                <th>Profesor</th>
                                <th>Asignatura</th>
                                <th>Tipo de prueba</th>
                                <th>Nivel</th>
                            </tr>
                        </thead>
                        <tbody id="asignaciones">
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver asignacion" id="verAsignaciones">
                                <td>1</td>
                                <td id="codColegio">Colegio 1</td>
                                <td id="codProfesor">Lucas</td>
                                <td id="codAsignatura">Lenguaje</td>
                                <td id="codTipoPrueba">PSU</td>
                                <td id="codNivel">1° Básico</td>
                            </tr>
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver asignacion" id="verAsignaciones">
                                <td>2</td>
                                <td id="codColegio">Colegio 2</td>
                                <td id="codProfesor">Rodrigo</td>
                                <td id="codAsignatura">Matematica</td>
                                <td id="codTipoPrueba">SIMCE</td>
                                <td id="codNivel">8° Básico</td>
                            </tr>
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver asignacion" id="verAsignaciones">
                                <td>3</td>
                                <td id="codColegio">Colegio 3</td>
                                <td id="codProfesor">Diego</td>
                                <td id="codAsignatura">Historia</td>
                                <td id="codTipoPrueba">PME</td>
                                <td id="codNivel">1° Medio</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="asignaciones-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Información</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='input-group' style='width: 100%'>
                                <span class='label label-success col-md-12' style='color: white; width: 100%; text-transform: uppercase; font-size: 120%'>Estado</span>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Colegio</span>
                                <input type='text' class='form-control' id='idColegio' name='idColegio' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Profesor</span>
                                <input type='text' class='form-control' id='idProfesor' name='idProfesor' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Asignatura</span>
                                <input type='text' class='form-control' id='idAsignatura' name='idAsignatura' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Tipo de prueba</span>
                                <input type='text' class='form-control' id='idTipoPrueba' name='idTipoPrueba' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Nivel</span>
                                <input type='text' class='form-control' id='idNivel' name='idNivel' value='' required disabled>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="confirm" type="button" class="btn btn-warning" href="{{url('asignar_prueba')}}">Deshabilitar</a>
                    <button type="button" class="btn btn-success" href="#" data-dismiss="modal" >Ver prueba</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
<script>
    $("#asignaciones tr").tooltip();
    $("#asignaciones #verAsignaciones").click(function()
    {
        var codColegio = $(this).find('#codColegio').html();
        var codProfesor = $(this).find('#codProfesor').html();
        var codAsignatura = $(this).find('#codAsignatura').html();
        var codTipoPrueba = $(this).find('#codTipoPrueba').html();
        var codNivel = $(this).find('#codNivel').html();
        $("#idColegio").val(codColegio);
        $("#idProfesor").val(codProfesor);
        $("#idAsignatura").val(codAsignatura);
        $("#idTipoPrueba").val(codTipoPrueba);
        $("#idNivel").val(codNivel);
        $("#asignaciones-modal").modal().show();
    });

    $("#confirm").click(function()
    {
        confirm("¿Estas seguro?");
    });
</script>
{% endblock javascripts %}