{% extends 'CoreBundle::menubars.html.twig' %}
{% block title %} Profesores {% endblock title %}
{% block stylesheets %}
    <style>
        #profesores td:hover
        {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}
{% block main %}
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Profesores</h3>
            <p class="panel-subtitle">Puedes utilizar el panel de filtros para ayudar en tu busqueda.</p>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtros" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-search"></span> Ver Filtros
            </button>
            <hr>
            <div class="collapse" id="filtros">
                <div class="row">
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Colegio</label>
                        <input type="text" placeholder=" Codigo colegio">
                    </div>
                   <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Asignatura</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Lenguaje</option>
                            <option>Matematicas</option>
                            <option>Historia</option>
                            <option>Ciencias</option>
                        </select>
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Nombre</label>
                        <input type="text" placeholder=" Nombre">
                    </div>
                    <div class=" col-md-3 form-group has-defaulr has-feedback">
                        <label class="control-label" for="eje">Estado</label>
                        <select class="form-control">
                            <option>Seleccione</option>
                            <option>Activo</option>
                            <option>Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Listado de Profesores: (Sin Filtro)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Colegio</th>
                                <th>Asignatura</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody id="profesores">
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver profesor" id="verProfesor">
                                <td>1</td>
                                <td id="codColegio">Colegio 1</td>
                                <td id="codAsignatura">Lenguaje</td>
                                <td id="codNombre">Javier</td>
                                <td id="codEstado">Activo</td>
                            </tr>
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver profesor" id="verProfesor">
                                <td>2</td>
                                <td id="codColegio">Colegio 2</td>
                                <td id="codAsignatura">Matematica</td>
                                <td id="codNombre">Manuel</td>
                                <td id="codEstado">Activo</td>
                            </tr>
                            <tr data-toggle="tooltip" data-placement="top" title="Click para ver profesor" id="verProfesor">
                                <td>3</td>
                                <td id="codColegio">Colegio 3</td>
                                <td id="codAsignatura">Ciencias</td>
                                <td id="codNombre">Marcelo</td>
                                <td id="codEstado">Inactivo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profesor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Información</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class='input-group' style='width: 100%'>
                                <span class='label label-success col-md-12' style='color: white; width: 100%; text-transform: uppercase; font-size: 120%'>Aqui va el estado</span>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Colegio</span>
                                <input type='text' class='form-control' id='idColegio' name='idColegio' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Asignatura</span>
                                <input type='text' class='form-control' id='idAsignatura' name='idAsignatura' value='' required disabled>
                            </div><br>
                            <div class='input-group' style='width: 100%'>
                                <span class='input-group-addon' id='basic-addon1' style='color: white;background-color: #00AAFF; width: 25%;'>Nombre</span>
                                <input type='text' class='form-control' id='idNombre' name='idNombre' value='' required disabled>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="confirm" type="button" class="btn btn-warning" href="#" data-dismiss="modal" >Deshabilitar</button>
                    <button type="button" class="btn btn-primary" href="#" data-dismiss="modal" >Modificar</button>
                    <button type="button" class="btn btn-success" href="#" data-dismiss="modal" >Contactar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block javascripts %}
<script>
    $("#profesores tr").tooltip();
    $("#profesores #verProfesor").click(function()
    {
        var codColegio = $(this).find('#codColegio').html();
        var codAsignatura = $(this).find('#codAsignatura').html();
        var codNombre = $(this).find('#codNombre').html();
        var codEstado = $(this).find('#codEstado').html();
        $("#idColegio").val(codColegio);
        $("#idAsignatura").val(codAsignatura);
        $("#idNombre").val(codNombre);
        $("#profesor-modal").modal().show();
    });
    $("#confirm").click(function()
    {
        confirm("¿Estas seguro?");
    });
</script>
{% endblock javascripts %}